<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compiler GUI</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <header>
        <h1>Custom Compiler</h1>
    </header>

    <main>
        <section class="editor">
            <div class="header-bar">
                <span>Source Code</span>
                <button id="runBtn">Run</button>
            </div>
            <div class="editor-panel">
                <div class="gutter" id="gutter"><pre>1</pre></div>
                <textarea id="codeInput" placeholder="Write your code here..." spellcheck="false"></textarea>
            </div>
        </section>

        <section class="output">
            <div class="header-bar" >
                <span>Output</span>
            </div>
            <pre id="outputBox"></pre>
        </section>
    </main>
</div>

<script src="/static/script.js"></script>
</body>
</html>
