<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyCompiler Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="navbar"> MyCompiler</div>

    <div class="container">
        <h2>Upload your source file</h2>
        <form method="POST" action="/compile" enctype="multipart/form-data">
            <input type="file" name="sourcefile" required>
            <input type="submit" value="Run Compiler">
        </form>
    </div>
</body>
</html>